.home_card {
    background-color: orange;
    width: 400px;
    height: 400px;
    position: relative;
}

.home_card h3 {
    margin: 0;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    top:20%;
    color: black;
    transform: translateY(-50%);
}

.home_card select {
    background-color: azure;
    color: black;
    width: 200px;
    height:40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin-left:115px;
    margin-top: 50px;
    font-weight: bold;
}

.home_card select:hover {
    background-color: black;
    color: white;
}

.home_card select-box {
    cursor: pointer;
    background-color: bisque;
}
#start_btn {
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgb(255, 137, 5);
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-block-end-width: 100%;
    border-color: rgba(165, 42, 42, 0.38);
    width:100%;
    font-weight:bold;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    /*margin-top: 105px;*/
}

#start_btn:hover {
    background-color: rgba(255, 255, 255, 0.01);
}
.outer{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}



body {
    background-color: rgba(40, 39, 39, 0.99);
    padding: 0;
    margin: 0;

}

.topnav {
    background-color:rgba(146, 146, 151, 0.21);
    width: 400px;
    height: 60px;
  }


  .topnav img {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav img:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }

  .topnav img.active {
    background-color: purple;
    color: white;
  }

  /* Tooltip container */
.topnav div {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.topnav div .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.topnav div .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.topnav div:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#shuffle_btn {
  background-color: rgba(0,0,0,0);
  color: black;
  font-weight:bold;
  font-size: 18px;
  border: 2px solid rgb(255, 137, 5);
  border-radius: 10px;
  margin-left: 175px;
  margin-top: 20px;
}

#shuffle_btn.active {
  background-color: rgb(255, 137, 5);
}
