.exercise_card {
    background-color: rgb(60, 235, 118);
    width: 400px;
    height: 400px;
    position: relative;
}
#query_word {
    margin: 0;
    padding: 0;
    font-family: Source Code Pro, code;
    font-size: 2em;
    text-align: center;
    position: relative;
    top:20%;
    color: black;
    transform: translateY(-50%);
}
#answer_word_input {
    padding: 15px 32px;
    font-family: Source Code Pro, code;
    text-align: center;
    position: absolute;
    background-color: rgb(40, 158, 79);
    display: inline-block;
    font-size: 24px;
    color: black;
    bottom: 0;
    margin-bottom: 0;
    border-color: rgba(165, 42, 42, 0.38);
    width:332px;
    font-weight: bold;
}

#answer_word_input::placeholder {
    color: rgb(27, 107, 53);
}

.exercise_card .empty_warning{
    color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: -93px;
}
