.no_vocabulary_card {
    background-color: rgb(255, 236, 9);
    width: 400px;
    height: 400px;
    position: relative;
}
#no_vocabulary_msg {
    margin: 0;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    top:30%;
    color:black;
    transform: translateY(-50%);
}

#goto_add_btn {
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    background-color: rgb(253, 212, 63);
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: black;
    bottom: 0;
    margin-bottom: 0;
    border-block-end-width: 100%;
    border-color: rgba(165, 42, 42, 0.38);
    width:100%;
    font-weight:bold;

}

#goto_add_btn:hover {
  background-color: rgba(255, 255, 255, 0.01);
}
