.wrong_card {
    background-color:rgb(159, 3, 10);
    width: 400px;
    height: 400px;
    position: relative;
}
#wrong_msg {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    top:40%;
    color: rgb(255, 130, 130);
    transform: translateY(-50%);
}

#correct_answer {
  font-family: Source Code Pro, code;
}

.wrong_card .continue_btn {
    padding: 15px 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    background-color: rgb(142, 19, 3);
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    color: black;
    bottom: 0;
    margin-bottom: 0;
    border-block-end-width: 100%;
    border-color: rgba(165, 42, 42, 0.38);
    width:100%;
    font-weight:bold;
}

.wrong_card .continue_btn:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

